.authorization {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;

  &-title {
    font-size: 45px;
    font-weight: 600;
  }
  &-detail {
    margin: 40px 0;
    color: #999;
  }
  button {
    width: 80%;
  }
}
