.bill {
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  &-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    &-show {
      width: 70px;
      height: 70px;
    }

    &-status {
      color: #666;
    }

    &-wrap {
      display: flex;
      align-items: center;
    }
  }

  &-good {
    margin-top: 15px;
    &-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &_show {
        width: 150px;
        image {
          width: 150px;
          height: 100px;
          border-radius: 10px;
        }
        view {
          overflow: hidden;
          text-overflow: ellipsis;
          width: 150px;
          white-space: nowrap;
          color: #666;
          font-size: 25px;
        }
        &.onlyone {
          display: flex;
          align-items: center;
          width: auto;
          view {
            margin-left: 15px;
            width: 400px;
          }
        }
      }

      &_price {
        font-size: 25px;
        view {
          &:nth-child(2) {
            color: #666;
          }
        }
      }
    }
  }

  &-btn {
    display: flex;
    justify-content: flex-end;
    .at-button {
      font-size: 25px!important;
    }
  }

}

